{
  "extends": [ "react-app", "react-app/jest" ],
  "rules": {
    "no-console": "warn",
    "semi": [2, "always"],
    "object-curly-spacing": ["error", "always"],
    "eqeqeq": [0, "always"],
    "no-useless-escape": "off"
  }
}
